#passwords-admin .gitcode {
	font-family: "Courier New";
	font-size: 0.9em;
}
#passwords-admin #app_path {
	width: 200px;
	text-align: right;
}
#passwords-admin red {
	color: #a00;
	line-height: 3;
}
#passwords-admin orange {
	color: #c80;
	line-height: 3;
}
#passwords-admin green {
	color: #0a0;
	line-height: 3;
}
#passwords-admin h3 {
	text-decoration: underline;
}
#passwords-admin .https_warning {
	color: #a00;
	opacity: 1;
}
#passwords-admin .descr {
	margin-bottom: 10px;
}
#passwords-admin .radiotext {
	margin-left: 5px;
}
#passwords-admin .linkDDG:hover {
	text-decoration: underline;
	cursor: pointer;
}
#passwords-admin .fieldDays {
	width: 30px !important;
	text-align: center;
}
#passwords-admin .msg-passwords,
#passwords-personal .msg-passwords {
	padding: 3px;
}
#passwords-admin .msg_error,
#passwords-personal .msg_error {
	background-color: #a00;
	color: #fff;
}
#passwords-admin .msg_success,
#passwords-personal .msg_success {
	background-color: #0a0;
	color: #fff;
}
#passwords-personal #timer {
	width: 30px;
	text-align: center;
}
#passwords-personal #timersettext {
	display: none;
}
#passwords-personal hr {
	width: 100%;
	border: 0;
	color: #ddd;
	background-color: #ddd;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
}
